/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/33329e");


// @font-face {font-family: 'Nexa-BlackItalic';src: url('../webfonts/33329E_0_0.eot');src: url('../webfonts/33329E_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_0_0.woff2') format('woff2'),url('../webfonts/33329E_0_0.woff') format('woff'),url('../webfonts/33329E_0_0.ttf') format('truetype');}


// @font-face {font-family: 'Nexa-Black';src: url('../webfonts/33329E_1_0.eot');src: url('../webfonts/33329E_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_1_0.woff2') format('woff2'),url('../webfonts/33329E_1_0.woff') format('woff'),url('../webfonts/33329E_1_0.ttf') format('truetype');}


// @font-face {font-family: 'Nexa-BoldItalic';src: url('../webfonts/33329E_2_0.eot');src: url('../webfonts/33329E_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_2_0.woff2') format('woff2'),url('../webfonts/33329E_2_0.woff') format('woff'),url('../webfonts/33329E_2_0.ttf') format('truetype');}


// @font-face {font-family: 'Nexa-Bold';src: url('../webfonts/33329E_3_0.eot');src: url('../webfonts/33329E_3_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_3_0.woff2') format('woff2'),url('../webfonts/33329E_3_0.woff') format('woff'),url('../webfonts/33329E_3_0.ttf') format('truetype');}


@font-face {font-family: 'Nexa-BookItalic';src: url('../webfonts/33329E_4_0.eot');src: url('../webfonts/33329E_4_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_4_0.woff2') format('woff2'),url('../webfonts/33329E_4_0.woff') format('woff'),url('../webfonts/33329E_4_0.ttf') format('truetype');}


@font-face {font-family: 'Nexa-Book';src: url('../webfonts/33329E_5_0.eot');src: url('../webfonts/33329E_5_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_5_0.woff2') format('woff2'),url('../webfonts/33329E_5_0.woff') format('woff'),url('../webfonts/33329E_5_0.ttf') format('truetype');}


// @font-face {font-family: 'Nexa-HeavyItalic';src: url('../webfonts/33329E_6_0.eot');src: url('../webfonts/33329E_6_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_6_0.woff2') format('woff2'),url('../webfonts/33329E_6_0.woff') format('woff'),url('../webfonts/33329E_6_0.ttf') format('truetype');}


// @font-face {font-family: 'Nexa-Heavy';src: url('../webfonts/33329E_7_0.eot');src: url('../webfonts/33329E_7_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_7_0.woff2') format('woff2'),url('../webfonts/33329E_7_0.woff') format('woff'),url('../webfonts/33329E_7_0.ttf') format('truetype');}


// @font-face {font-family: 'Nexa-LightItalic';src: url('../webfonts/33329E_8_0.eot');src: url('../webfonts/33329E_8_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_8_0.woff2') format('woff2'),url('../webfonts/33329E_8_0.woff') format('woff'),url('../webfonts/33329E_8_0.ttf') format('truetype');}


// @font-face {font-family: 'Nexa-Light';src: url('../webfonts/33329E_9_0.eot');src: url('../webfonts/33329E_9_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_9_0.woff2') format('woff2'),url('../webfonts/33329E_9_0.woff') format('woff'),url('../webfonts/33329E_9_0.ttf') format('truetype');}


// @font-face {font-family: 'Nexa-RegularItalic';src: url('../webfonts/33329E_A_0.eot');src: url('../webfonts/33329E_A_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_A_0.woff2') format('woff2'),url('../webfonts/33329E_A_0.woff') format('woff'),url('../webfonts/33329E_A_0.ttf') format('truetype');}


@font-face {font-family: 'Nexa-Regular';src: url('../webfonts/33329E_B_0.eot');src: url('../webfonts/33329E_B_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_B_0.woff2') format('woff2'),url('../webfonts/33329E_B_0.woff') format('woff'),url('../webfonts/33329E_B_0.ttf') format('truetype');}


// @font-face {font-family: 'Nexa-ThinItalic';src: url('../webfonts/33329E_C_0.eot');src: url('../webfonts/33329E_C_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_C_0.woff2') format('woff2'),url('../webfonts/33329E_C_0.woff') format('woff'),url('../webfonts/33329E_C_0.ttf') format('truetype');}


// @font-face {font-family: 'Nexa-Thin';src: url('../webfonts/33329E_D_0.eot');src: url('../webfonts/33329E_D_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_D_0.woff2') format('woff2'),url('../webfonts/33329E_D_0.woff') format('woff'),url('../webfonts/33329E_D_0.ttf') format('truetype');}


// @font-face {font-family: 'Nexa-XBoldItalic';src: url('../webfonts/33329E_E_0.eot');src: url('../webfonts/33329E_E_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_E_0.woff2') format('woff2'),url('../webfonts/33329E_E_0.woff') format('woff'),url('../webfonts/33329E_E_0.ttf') format('truetype');}


@font-face {font-family: 'Nexa-XBold';src: url('../webfonts/33329E_F_0.eot');src: url('../webfonts/33329E_F_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/33329E_F_0.woff2') format('woff2'),url('../webfonts/33329E_F_0.woff') format('woff'),url('../webfonts/33329E_F_0.ttf') format('truetype');}

