{% macro build(arg) %}

    <div class="m-full-text {% if arg.theme == 'dark' %} m-full-text--dark {% endif %}">
        <div class="m-text-media__text  m-full-text__wrapper">
            <article class="h-align-center">
                {% if arg.theme == 'dark' %}
                    <span class="m-title  m-title--white  a-fade-letter">
                        {{ arg.title }}
                    </span>
                    <p class="a-fade-lines  h-color-white">
                        {{ arg.text }}
                    </p>
                    {% if arg.link is not empty %}
                        <a href="{{ arg.link }}" class="m-cta  m-cta--white">
                            <span>
                                {{ arg.label }}
                            </span>
                        </a>
                    {% endif %}
                {% else %}
                    <span class="m-title  a-fade-letter">
                        {{ arg.title|raw }}
                    </span>
                    <p class="a-fade-lines">
                        {{ arg.text|raw }}
                    </p>
                    {% if arg.link is not empty %}
                        <a href="{{ arg.link }}" class="m-cta">
                            <span>
                                {{ arg.label }}
                            </span>
                        </a>
                    {% endif %}
                {% endif %}
                <div class="m-full-text__img">
                    <img src="/img/wings.png" alt="" class="a-scale-opacity">
                </div>
            </article>
        </div>
    </div>

{% endmacro build %}
