{% macro build(arg) %}

    <div class="m-video-ratio">

        <div class="m-media-info">
            <span class="m-title  m-title--white  a-fade-letter">{{arg.title}}</span>
            {% if arg.text is defined %}
                <p class="a-fade-word">
                    {{arg.text}}
                </p>
            {% endif %}
        </div>

        <video class="m-video-tag" width="640" height="360" preload loop muted playsinline>
            <source src="{{arg.video}}"/>
        </video>

    </div>

    <div class="m-video-ratio__mobile-box">
        <div class="m-text-media__text">
            <article>
                <span class="m-title  m-title--white  a-fade-letter">{{arg.title}}</span>
                {% if arg.text is defined %}
                    <p class="a-fade-word">
                        {{arg.text}}
                    </p>
                {% endif %}
            </article>
        </div>
    </div>

{% endmacro build %}
