<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Nenni Toscana{% endblock %}</title>
        {# <base href="/"> #}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
        <link rel="Shortcut Icon" type="image/x-icon" href="/img/favicon.ico" />

        <meta name="msapplication-tap-highlight" content="no">
        <meta name="theme-color" content="#9dccd5">

        <!-- Basic meta data, share -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:site_name" content="">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">

        <link rel="stylesheet" href="{{ asset('css/app.css') }}" />

        {% block socialImage %}
            <meta name="twitter:image" content="">
            <meta property="og:image" content="">
            <meta name="twitter:url" content="">
            <meta property="og:url" content="">
        {% endblock %}

        <!-- Google Tag Manager -->
        <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NR48HZV');</script> -->
        <!-- End Google Tag Manager -->

    </head>
    <body>

        {% include "_partials/preloader-page.html" %}
        {% include "_partials/preloader.html" %}
        {% include "default/_menu.html.twig" %}
        {% include "_partials/header.html" %}

        <div id="barba-wrapper">
            {% block content %} {% endblock %}
        </div>

        {% include "_partials/footer.html" %}

        <script src="{{ asset('js/app.js') }}"></script>

    </body>
</html>


