<div class="m-full-text">
    <div class="m-text-media__text  m-full-text__wrapper">
        <article class="h-align-center">
            <span class="m-title  a-fade-letter">
                Lorem Ipsum Title
            </span>
            <p class="a-fade-word">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit necessitatibus delectus harum, sapiente reiciendis facere porro quae. Architecto ex, saepe non, rem incidunt voluptatum possimus mollitia ullam eum doloribus repellat.
            </p>
            <a href="#" class="m-cta">
                <span>
                    discover more
                </span>
            </a>
            <div class="m-full-text__img">
                <img src="img/wings.png" alt="" class="a-scale-opacity">
            </div>
        </article>
    </div>
</div>