<div class="m-text-media">
    <div class="m-text-media__media  m-text-media__media--img">
        <img src="/img/test-1.jpg" alt="" class="a-scale-opacity">
    </div>
    <div class="m-text-media__text  a-tilt" data-tilt-reset="false" data-tilt-max="15" data-tilt-speed="70">
        <article>
            <span class="m-title  a-fade-letter">{{ block.getTitle() }}</span>
            <p class="a-fade-word">
                {{ block.getSubtitle() }}
            </p>
            <a href="#" class="m-cta">
                <span>
                    {{ block.getLink() }}
                </span>
            </a>
        </article>
    </div>
</div>