<div class="m-text-media">
    <div class="m-text-media__media  m-text-media__media--img">
        <img src="/img/test-1.jpg" alt="" class="a-scale-opacity">
    </div>
    <div class="m-text-media__text">
        <article>
            <span class="m-title  a-fade-letter">{{ block.getTitle() }}</span>
            <p class="a-fade-in">
                {{ block.getSubtitle() }}
            </p>
            <span class="a-fade-in">
                <a href="#" class="m-link">
                    {{ block.getLink() }}
                </a>
            </span>
        </article>
    </div>
</div>