<div class="m-text-media">
    <div class="m-text-media__text">
        <article>
            <span class="m-title  a-fade-letter">{{ block.getTitle() }}</span>
            <p class="a-fade-word">
                {{ block.getSubtitle() }}
            </p>
            <a href="#" class="m-cta">
                <span>
                    {{ block.getLink() }}
                </span>
            </a>
        </article>
    </div>
    <div class="m-text-media__media  m-text-media__media--video">
        <video class="m-video-tag" width="724" height="900" preload loop>
            <source src="/img/hp-vertical.mp4" />
        </video>
    </div>
</div>