{% extends 'base.html.twig' %}

{% block content %}
    <div class="barba-container" data-namespace="homepage">

        <div class="m-video-full">

            <div class="m-intro-site">
                <div class="m-logo  m-logo--white  m-logo--center">
                    {% include "_partials/logo.html" %}
                </div>
                <h2 class="m-intro-site__title   m-title  m-title--white  a-fade-letter">mastering excellence since 1272</h2>
            </div>

            <video class="m-video-tag" width="640" height="360" preload loop muted playsinline data-intro-scale>
                <source src="/img/hp.mp4"/>
            </video>

            <span class="m-intro-site__explore"><span></span></span>

        </div>

        {% for block in blocks %}
            {{ include(block.getTemplate(), { 'block': block }) }}
        {% endfor %}

        <div class="m-people">
            <div class="m-people__img">
                <div>
                    <img src="/img/people.png" alt="" class="a-scale-opacity" data-preload>
                </div>
            </div>
            <div class="m-text-media__text  a-tilt" data-tilt-reset="false" data-tilt-max="5" data-tilt-speed="70">
                <article>
                    <span class="m-title  m-title--white  a-fade-letter">
                        Le persone
                    </span>
                    <p class="a-fade-word">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, ipsa dolorem labore provident fugiat veniam nihil neque nostrum nemo optio quos magni autem tempora dolores, repellendus dolor ratione repudiandae, possimus!
                    </p>
                    <a href="#" class="m-cta  m-cta--white">
                        <span>
                            discover more
                        </span>
                    </a>
                </article>
            </div>
        </div>


        <div class="a-stagger-y">
            <div class="m-news-list">
                <article class="m-news-list__el  a-stagger-y__el">
                    <img src="https://source.unsplash.com/random/800x600" alt="" class="m-news-list__img" data-preload>
                    <a href="#" class="m-news-list__wrapper-info">
                        <div class="a-fade-in">
                            <time datetime="2008-02-14 20:00" class="m-news__time">14.01.1989</time>
                            <h1 class="m-news__title  a-fade-word">
                                lorem ipsum dolor sit amet
                            </h1>
                        </div>
                    </a>
                </article>
                <article class="m-news-list__el  a-stagger-y__el">
                    <img src="https://source.unsplash.com/random/800x608" alt="" class="m-news-list__img" data-preload>
                    <a href="#" class="m-news-list__wrapper-info">
                        <div class="a-fade-in">
                            <time datetime="2008-02-14 20:00" class="m-news__time">14.01.1989</time>
                            <h1 class="m-news__title  a-fade-word">
                                lorem ipsum dolor sit amet
                            </h1>
                        </div>
                    </a>
                </article>
                <article class="m-news-list__el  a-stagger-y__el">
                    <img src="https://source.unsplash.com/random/800x609" alt="" class="m-news-list__img" data-preload>
                    <a href="#" class="m-news-list__wrapper-info">
                        <div class="a-fade-in">
                            <time datetime="2008-02-14 20:00" class="m-news__time">14.01.1989</time>
                            <h1 class="m-news__title  a-fade-word">
                                lorem ipsum dolor sit amet
                            </h1>
                        </div>
                    </a>
                </article>
                <article class="m-news-list__el  a-stagger-y__el">
                    <img src="https://source.unsplash.com/random/800x610" alt="" class="m-news-list__img" data-preload>
                    <a href="#" class="m-news-list__wrapper-info">
                        <div class="a-fade-in">
                            <time datetime="2008-02-14 20:00" class="m-news__time">14.01.1989</time>
                            <h1 class="m-news__title  a-fade-word">
                                lorem ipsum dolor sit amet
                            </h1>
                        </div>
                    </a>
                </article>
            </div>
        </div>

    </div>
{% endblock %}