{% extends 'base.html.twig' %}

{% import "_macro/_m-text-media.html" as mTextMedia %}

{% block content %}
    <div class="barba-container" data-namespace="homepage">


        <div class="m-img-full no-img">
            <div class="m-intro-site">
                <div class="m-logo  m-logo--white  m-logo--center">
                    {% include "_partials/logo.html" %}
                </div>
                <h2 class="m-intro-site__title   m-title  m-title--white  a-fade-letter">
                    {{ news.getTitle }}
                </h2>
            </div>
            <span class="m-intro-site__explore"><span></span></span>
        </div>

        {{ mTextMedia.build({
            'title': news.getTitle,
            'text': news.getContent|raw,
            'media': vich_uploader_asset(news, 'imageFile'),
            'link': '',
            'label': '',
            'type': 'img',
            'align': 'left'
        }) }}

    </div>
{% endblock %}