{% extends 'base.html.twig' %}

{% block content %}
    <div class="barba-container" data-namespace="products">
        <div class="m-wine-carousel">
            {#{% for i in 0..3 %}#}
                {#<div class="m-wine-carousel__slide {% if loop.first %}current{% endif %}">#}
                    {#{% include 'default/_wine-sheet.html.twig' with {index : loop.index0} %}#}
                {#</div>#}
            {#{% endfor %}#}
            {% for block in blocks %}
                <div class="m-wine-carousel__slide {% if loop.first %}current{% endif %}">
                    {{ include(block.getTemplate(), { 'block': block, index: loop.index0 }) }}
                </div>
            {% endfor %}
            <div class="m-wine-carousel__transition">
                <div class="m-wine-carousel__transition-bg"></div>
            </div>
        </div>
    </div>

    <button id="button" style="position:fixed;right:150px;bottom:50%;z-index:999;font-size:40px;">Click</button>

    <script>
        var slides = document.querySelectorAll('.m-wine-carousel__slide'),
            transitionBlock = document.querySelector('.m-wine-carousel__transition'),
            index = 0;
        var transitionDuration = 1000;
        var transitionOn = false;
        document.querySelector('#button').addEventListener('click', function() {
            if(index > slides.length - 1 || transitionOn) return;
            index++;
            transitionOn = true;
            transitionBlock.classList.add('visible');
            transitionBlock.classList.add('play');
            setTimeout(function(){
                [].forEach.call(slides, function(el,i) {
                    if(i==index) {
                        el.classList.add('current');
                    } else {
                        el.classList.remove('current');
                    }
                });
            },400)
            setTimeout(function(){
                transitionBlock.classList.remove('visible');
                transitionBlock.classList.remove('play');
                transitionOn = false
            },transitionDuration)
        });
    </script>

{% endblock %}


