{% extends 'base.html.twig' %}

{% block content %}
    <div class="barba-container" data-namespace="products">
        <div class="m-wine-carousel">

            <div class="m-wine-carousel__slide m-wine-carousel__slide--intro">
                <div class="m-img-full">
                    <div class="m-intro-site">
                        <div class="m-logo  m-logo--white  m-logo--center">
                            {% include "_partials/logo.html" %}
                        </div>
                        <h2 class="m-intro-site__title   m-title  m-title--white  a-fade-letter">
                            Vini
                        </h2>
                    </div>
                    <img src='/img/vini/hero.jpg' alt="" class="m-img-full__img" data-preload data-intro-scale>
                    <span class="m-intro-site__explore"><span></span></span>
                </div>
            </div>

            {% for block in blocks %}
                <div class="m-wine-carousel__slide {% if loop.last %}m-wine-carousel__slide--last{% endif %}">
                    {{ include(block.getTemplate(), { 'block': block, index: loop.index0 }) }}
                </div>
            {% endfor %}

            <div class="m-wine-sheet__frame"></div>

            <div class="m-wine-carousel__nav">
                <a href="" class="m-wine-carousel__nav-prev disabled">
                    <svg viewBox="0 0 30 30">
                        <polygon points="15,22.6 0.5,8.1 1.2,7.4 15,21.2 28.8,7.4 29.5,8.1 "/>
                    </svg>
                </a>
                <a href="" class="m-wine-carousel__nav-next">
                    <svg viewBox="0 0 30 30">
                        <polygon points="15,22.6 0.5,8.1 1.2,7.4 15,21.2 28.8,7.4 29.5,8.1 "/>
                    </svg>
                </a>
            </div>

        </div>

        <div class="m-wine-infos">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quam, distinctio quas molestias quaerat, autem! Ab reiciendis illo ad porro reprehenderit odio quibusdam sed eaque vitae fuga, nulla nobis ut nam in debitis quas corporis non, laudantium recusandae accusantium deleniti. Velit autem ipsum nam error vero voluptatibus enim, assumenda nobis dolorum aspernatur quod maiores, veritatis id quasi consequuntur? Ut quia amet at doloribus, reiciendis delectus deleniti sed architecto modi, veniam adipisci optio rerum vel accusamus praesentium blanditiis consectetur sequi labore eaque ipsa voluptate quas! Quo error repellat doloribus quod porro delectus dignissimos mollitia, facere excepturi quam eius nihil in nesciunt cumque aperiam, rerum nemo. Incidunt, similique dolor aperiam cupiditate animi, ratione iste non, quos quas optio iure at autem voluptatem excepturi nesciunt nisi, commodi officia. Facilis rem, eos commodi accusantium blanditiis, sed molestiae modi deleniti nulla magnam animi, suscipit odit eaque libero earum laudantium quod ipsa delectus atque iusto dolorum nisi aliquam! Delectus autem aut, omnis ratione. Debitis dolorem praesentium accusamus explicabo facere, voluptatum temporibus alias repudiandae sunt est, totam molestias incidunt dolorum architecto nesciunt itaque illo laudantium nostrum. Expedita, quod. Quas excepturi vel quibusdam blanditiis nulla quo facere vero, delectus sed autem? Eveniet commodi, aliquam hic quos. Vero, odit.
        </div>
    </div>
{% endblock %}


