<footer class="m-footer">

    <div class="m-footer__top">
        <div class="m-footer__left">
            <div class="m-logo  m-logo--white  m-logo--center">
                <a href="#">
                    {% include "_partials/logo.html" %}
                </a>
            </div>
        </div>
    </div>

    <div class="m-footer__bottom">
        <div class="m-footer__left">
            <span>
                @2017 - Azienda Agriola Pietro Nenni - IT11070061004
            </span>
        </div>
        <div class="m-footer__right">
            <ul>
                <li>
                    <a href="#" class="m-footer__links">Privacy</a>
                </li>
                <li>
                    <a href="#" class="m-footer__links">Legal terms</a>
                </li>
                <li>
                    <a href="http://www.blendmodes.com" class="m-footer__links">Credits</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

