.m-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(70);
    z-index: 999999;
    z-index: map-get($layers, max)-1;
    transition: all .5s $ease;
    &.is-active {
        background: map-get($colors, white);
        transform: translateY(0);
        svg {
            fill: map-get($colors, black);
        }
    }
    .m-hamburger {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        width: rem(70);
        height: rem(70);
        display: flex;
        z-index: 9999999;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: 0;
        background: map-get($colors, white);
        .no-touch &{
            &:hover {
                svg {
                    opacity: .6;
                }
            }
        }
        svg {
            display: block;
            width: rem(30);
            height: rem(30);
            transition: opacity .3s;
            path {
                fill: map-get($colors, black);
            }
        }
    }
    &__logo {
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(20px,-50%);
        @media screen and (min-width: $tablet) {
            // left: 50%;
            // margin-left: 20px;
            // transform: translate(-50%,-50%);
        }
        span {
            position: absolute;
            z-index: -1;
            text-indent: -1000px;
            opacity: 0;
        }
        a, svg {
            display: block;
        }
        svg {
            height: rem(15);
            fill: map-get($colors, white);
            transition: all .5s;
            // opacity: 0;
            @media screen and (min-width: $tablet) {
                height: rem(20);
            }
        }
    }
}