.m-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(50);
    z-index: 999999;
    background: map-get($colors, white);
    z-index: map-get($layers, max)+1;
    transform: translateY(-100%);
    transition: transform .5s $ease;
    &.is-active {
        transform: translateY(0);
    }
    .hamburger {
        position: absolute;
        right: rem(10);
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        z-index: 9999999;
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            background: map-get($colors, black);
        }
    }
    &__logo {
        position: absolute;
        top: 50%;
        transform: translate(20px,-50%);
        @media screen and (min-width: $tablet) {
            left: 50%;
            margin-left: 20px;
            transform: translate(-50%,-50%);
        }
        svg {
            display: block;
            height: rem(15);
            @media screen and (min-width: $tablet) {
                height: rem(20);
            }
        }
    }
}


.m-trigger-menu {
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: relative;
    transform: scale(0.7);
    @media screen and (min-width: $tablet) {
        transform: scale(1);
        right: 40px;
        top: 40px;
        position: absolute;
    }
    &.is-active {
        > div {
            background: #fff;
            &:nth-of-type(1) {
                transform: translate(-30%, -16px) scaleX(0.1);
                border-radius: 50%;
            }
            &:nth-of-type(2) {
                transform: translate(0, -50%) rotate(-225deg);
            }
            &:nth-of-type(3) {
                transform: translate(30%, 12px) scaleX(0.1);
                border-radius: 50%;
            }
        }
    }
    .no-touch &{
        &:hover {
            &:not(.is-active) {
                > div {
                    &:nth-of-type(1) {
                        transform: translate(5%, -16px);
                    }
                    &:nth-of-type(2) {
                        transform: translate(-5%, -50%);
                    }
                    &:nth-of-type(3) {
                        transform: translate(5%, 12px);
                    }
                }
            }
        }
    }
    > div {
        height: 4px;
        width: 100%;
        background: #000;
        position: absolute;
        top: 50%;
        transition: transform .4s $ease, background .2s $ease;
        &:nth-of-type(1) {
            transform: translate(0, -16px);
        }
        &:nth-of-type(2) {
            transform: translate(0, -50%);
        }
        &:nth-of-type(3) {
            transform: translate(0, 12px);
        }
    }
}
