.m-news-list {
    height: 80vh;
    min-height: rem(600);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: map-get($colors, black);
    overflow: hidden;
    @media screen and (min-width: $tabletUp) {
        flex-wrap: no-wrap;
    }
    &--complete {
        height: auto;
        .m-news-list__el {
            min-height: rem(300);
            @media screen and (min-width: $tabletUp) {
                min-height: rem(600);
            }
        }
    }
    &__img {
        top: 0;
        left: 0;
        position: absolute;
        object-fit: cover;
        display: block;
        height: 100%;
        width: 100%;
        will-change: transform;
        transition: all .4s;
    }
    .m-news__title {
        max-width: rem(300);
        position: relative;
        overflow: hidden;
        padding-bottom: rem(40);
        font-family: 'perpetua';
        @media screen and (min-width: $tabletUp) {
            &:after {
                background: map-get($colors, white);
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background: #fffdfd;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translateX(-105%);
                transition: transform .5s $ease;
                transition-delay: 0;
            }
        }
    }
    &__el {
        background: map-get($colors, black);
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        width: 50%;
        @media screen and (min-width: $tabletUp) {
            height: 100%;
            width: 25%;
        }
        &:after, &:before {
            pointer-events: none;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
        &:after {
            background: linear-gradient(to top, rgba(0, 0, 0, .8) 8%, rgba(0, 0, 0, 0) 80%);
            z-index: 1;
        }
        &:before {
            background: linear-gradient(to top, map-get($colors, yellow) 0%, map-get($colors, black) 100%);
            z-index: 1;
            opacity: 0;
            will-change: opacity;
            transition: all .4s;
            height: 100%;
            width: 100%;
            left: 50%;
            top: 50%;
            position: absolute;
            transform: translate(-50%,-50%) scale(.97);
        }
        .no-touch &{
            &:hover {
                &:before {
                    opacity: .8;
                    transform: translate(-50%,-50%) scale(1);
                }
                .m-news-list__wrapper-info {
                    transform: translateY(-5%);
                }
                .m-news__title {
                    &:after {
                        transform: translateX(0);
                        transition-delay: .5s;
                    }
                }
                .m-news-list__img {
                    transform: scale(1.05);
                }
            }
        }
    }
    &__wrapper-info {
        display: flex;
        align-items: flex-end;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: transform .5s $ease;
        will-change: transform;
        padding: rem(20) rem(20) 0 rem(20);
        @media screen and (min-width: $tabletUp) {
            padding: rem(40) rem(40) 0 rem(40);
        }
    }
}

.m-news {
    &__title {
        text-transform: uppercase;
        color: map-get($colors, white);
        @media screen and (min-width: $tabletUp) {
            font-size: rem(25);
        }
    }
    &__time {
        font-size: rem(12);
        letter-spacing: rem(2);
        display: block;
        margin-bottom: rem(10);
        color: map-get($colors, white);
        font-family: 'montserratregular';
    }
}