.m-wine-carousel {
    position: relative;
    background:map-get($colors,black);
    @media screen and (min-width: $tablet) {
        height: 200vh;
        min-height: 600px;
    }
    &__slide {
        z-index: 1;
        @media screen and (min-width: $tablet) {
            position: absolute;
            left: 0;
            top: 100vh;
            width: 100%;
            height: 100vh;
        }
        &--intro {
            top: 0;
        }
    }

    .m-wine-sheet__frame {
        display: block;
        top: 150vh;
        height: calc(80vh - 100px);
        transform: translateY(-50%);
        z-index: 0;
    }

    .m-wine-sheet {
        background:transparent;
        @media screen and (min-width: $tablet) {
            height: 100%;
        }
        &__id,
        &__bottle,
        &__info {
            opacity: 0;
        }

        .m-wine-sheet__frame {
            display: none;
        }
    }

    &__slide:first-child {
        .m-wine-sheet__id,
        .m-wine-sheet__bottle,
        .m-wine-sheet__info {
            opacity: 1;
        }
    }
}


.m-wine-intro {
    height: 100vh;
}