.m-wine-carousel {
    position: relative;
    background:map-get($colors,black);
    .no-touch & {
        @media screen and (min-width: $tablet) {
            overflow: hidden;
            height: 200vh;
            min-height: 600px;    
        }
    }
        
    &__slide {
        .no-touch & {
            @media screen and (min-width: $tablet) {
                z-index: 1;
                position: absolute;
                left: 0;
                top: 100vh;
                width: 100%;
                height: 100vh;   
            }
        }
        &--intro {
            top: 0 !important;
        }
        &.active {
            z-index: 2;
        }
    }

    > .m-wine-sheet__frame {
        display: none;
        top: 150vh;
        height: calc(80vh - 100px);
        transform: translateY(-50%);
        z-index: 0;
        @media screen and (min-width: $tablet) {
            .no-touch & {
                display: block;
            }
        }
    }

    .m-wine-sheet {
        background:transparent;
        .no-touch & {
            height: 100%;
        }
        &__id,
        &__bottle,
        &__info {
            opacity: 1;
            .no-touch & {
                @media screen and (min-width: $tablet) {
                    opacity: 0;
                }
            }
        }

        .m-wine-sheet__frame {
            .no-touch & {
                display: none;
            }
        }
    }

    &__slide:first-child {
        .m-wine-sheet__id,
        .m-wine-sheet__bottle,
        .m-wine-sheet__info {
            opacity: 1;
        }
    }

    &__nav {
        position: absolute;
        top: 75%;
        right: 100px;
        width: 30px;
        height: 80px;
        transform: translateY(-50%);
        z-index: 99;
        display: none;

        @media screen and (min-width: $tablet) {
            .no-touch & {
                display: block;
            }
        }

    }

    &__nav-prev,
    &__nav-next {
        display: block;
        cursor: pointer;
        transition: all .3s;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        svg {
            fill : map-get($colors,yellow)
        }
        .no-touch & {
            &:hover {
                transform: translateY(-3px);   
                opacity: .7;
            }
        }
        &.disabled {
            opacity: .2;
            cursor: default;
            &:hover {
                transform: none;   
                opacity: .2;
            }
        }
    }

    &__nav-next {
        top: auto;
        bottom: 0;
        .no-touch & {
            &:hover {
                transform: translateY(3px);   
            }
        }
    }

    &__nav-prev svg {
        transform: rotate(180deg);
    }
}

.m-wine-carousel__slide--last .m-wine-sheet {
    padding-bottom: rem(150);
    @media screen and (min-width: $tablet) {
        padding-bottom: 0;
    }
    
}


.m-wine-intro {
    height: 100vh;
}