.m-wine-carousel {
    position: relative;
    height: 100vh;
    min-height: 600px;
    background:map-get($colors,black);
    &__slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        &.current {
            z-index: 1;
        }
    }

    .m-wine-sheet {
        height: 100%;
    }

    &__transition {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }
    &__transition-bg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform:translate(-2.78%,-50%);
        height: 100%;
        // width: 2500%;
        width: 1800%;
        background: url(../img/ink.png) no-repeat 0 0;
        background-blend-mode: difference;
        background-size: 100% 100%;
        .play & {
            -webkit-animation: sequence 1.5s steps(17);
            -moz-animation: sequence 1.5s steps(17);
            animation: sequence 1.5s steps(17);
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
    }
}

@-webkit-keyframes sequence {
  0% {
    /* translateX(-2.78%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2.78%);
  }
  50% {
    /* translateX(-97.22%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-97.22%);
  }
  100% {
    /* translateX(-97.22%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-2.78%);
  }
}
@-moz-keyframes sequence {
  0% {
    /* translateX(-2.78%) is used to horizontally center the first frame inside the viewport */
    -moz-transform: translateY(-50%) translateX(-2.78%);
  }
  100% {
    /* translateX(-97.22%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -moz-transform: translateY(-50%) translateX(-97.22%);
  }
}
@keyframes sequence {
  0% {
    /* translateX(-2.78%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2.78%);
    -moz-transform: translateY(-50%) translateX(-2.78%);
    -ms-transform: translateY(-50%) translateX(-2.78%);
    -o-transform: translateY(-50%) translateX(-2.78%);
    transform: translateY(-50%) translateX(-2.78%);
  }
  50% {
    /* translateX(-97.22%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-97.22%);
    -moz-transform: translateY(-50%) translateX(-97.22%);
    -ms-transform: translateY(-50%) translateX(-97.22%);
    -o-transform: translateY(-50%) translateX(-97.22%);
    transform: translateY(-50%) translateX(-97.22%);
  }
  100% {
    /* translateX(-97.22%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-2.78%);
    -moz-transform: translateY(-50%) translateX(-2.78%);
    -ms-transform: translateY(-50%) translateX(-2.78%);
    -o-transform: translateY(-50%) translateX(-2.78%);
    transform: translateY(-50%) translateX(-2.78%);
  }
}