.m-wine-sheet {
    background:map-get($colors,black);
    color: map-get($colors,white);
    position: relative;
    @media screen and (min-width: $tablet) {
        height: 100%;
    }

    img {
        display: block;
        width: 100%;
    }

    p {
        line-height: 1.3;
    }

    &__wrapper {
        max-width: 980px;
        margin: 0 auto;
        padding: rem(150) rem(30);
        padding-bottom: 0;

        @media screen and (min-height: 700px) {
            max-width: 1280px;
        }
        @media screen and (min-height: 800px) {
            max-width: 1440px;
        }
        @media screen and (min-width: 1900px) {
            max-width: 1600px;
        }
        @media screen and (min-width: $tablet) {
            height: 100%;
            padding: rem(50) 5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__id,
    &__info {
        padding:0 5%;
        z-index: 1;
        @media screen and (min-width: $tablet) {
            width: 38%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__info {
        .m-text-media__text {
            padding: 0 rem(50) 0 0;
        }
    }

    &__bottle {
        z-index: 1;
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 18%;
        }
        img {
            max-width: 120px;
            margin: 0 auto;
            @media screen and (min-width: $tablet) {
                max-width: 100%;
            }
        }
    }

    &__id {
        text-align: center;
        width: 100%;
        @media screen and (min-width: $tablet) {
            width: 38%;
        }
        .id-caption {
            font-size: rem(16);
        }
        .id-wings {
            margin: rem(50) 0;
            display: none;
            @media screen and (min-width: $tablet) {
                display: block;
            }
        }
        .id-logo {
            margin-bottom: rem(40);
            @media screen and (min-width: $tablet) {
                margin-bottom: 0;
            }
            img {
                max-width: 300px;
                margin: 0 auto;
            }
        }
    }

    &__info {
        width: 100%;
        padding: rem(30) rem(10);
        text-align: center;
        @media screen and (min-width: $tablet) {
            align-items: flex-start;
            width: 38%;
        }
        .info-cta {
            display: block;
            margin-top: rem(20);
        }
    }

    &__frame {
        position: absolute;
        display: none;
        z-index: 0;
        left: rem(50);
        top: rem(100);
        right: rem(50);
        height: calc(80% - 100px);
        min-height: 400px;
        border: 2px solid map-get($colors,yellow);
        @media screen and (min-width: $tablet) {
            display: block;
        }
    }
}