<div class="m-video-full">

    <div class="m-intro-site">
        <div class="m-logo  m-logo--white  m-logo--center">
            {% include "_partials/logo.html" %}
        </div>
        <h2 class="m-intro-site__title   m-title  m-title--white  a-fade-letter">{{ block.getTitle() }}</h2>
    </div>

    <video class="m-video-tag" width="640" height="360" preload loop muted playsinline data-intro-scale>
        <source src="/img/hp.mp4"/>
    </video>

    <span class="m-intro-site__explore"><span></span></span>

</div>