<div class="m-wine-carousel__slide m-wine-carousel__slide--intro">
    <div class="m-img-full">
        <div class="m-intro-site">
            <div class="m-logo  m-logo--white  m-logo--center">
                {% include "_partials/logo.html" %}
            </div>
            <h2 class="m-intro-site__title   m-title  m-title--white  a-fade-letter">
                {{ block.getTitle() }}
            </h2>
        </div>
        <img src='/img/vini/hero.jpg' alt="" class="m-img-full__img" data-preload data-intro-scale>
        <span class="m-intro-site__explore"><span></span></span>
    </div>
</div>